lab-automation/adc_configuration
lab-automation/creds
**/.terraform*
lab-automation/rendered_templates
.terraform
*.tfstate
*.tfstate.backup
*.tfstate.bak
**/.terraform.lock.hcl
.terraform.lock*
.terraform.tfstate*
*.bak
*.lic