*/lab-automation/adc_configuration
*/lab-automation/creds
creds/
terraform.tfvars
lab-automation/rendered_templates
.terraform
*.tfstate
*.tfstate.backup
*/*/.terraform.lock.hcl
.terraform.lock*
.terraform.tfstate*
*.lic
*.DS_Store